<img id="storeAd" src="images/store-ad.jpg" alt="beans">
    
    <div class="container">
        <h2>- Beans for Sale -</h2>
        <hr>
    

        <div class="row">
            <div class="menu col-xs-3">
                <ul class="beansMenu">
                    <li><a href="#">Light and Subtle</a></li>
                    <li><a href="#">Light and Distinctive</a></li>
                    <li><a href="#">Medium and Smooth</a></li>
                    <li><a href="#">Dark and Distinctive</a></li>
                    <li><a href="#">Decaffeinated</a></li>
                    <li><a href="#">Flavored</a></li>
                    <li><a href="#">Reserve</a></li>
                </ul>
            </div>

            <div class="items col-xs-9">
                <a href="#/coffee" class="storeItem col-xs-4">
                    <img src="images/store-item.jpg" alt="coffee beans">
                    <p>Name of this blend</p>
                    <span class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </a>
                <a href="#/coffee" class="storeItem col-xs-4">
                    <img src="images/store-item.jpg" alt="coffee beans">
                    <p>Name of this blend</p>
                    <span class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </a>
                <a href="#/coffee" class="storeItem col-xs-4">
                    <img src="images/store-item.jpg" alt="coffee beans">
                    <p>Name of this blend</p>
                    <span class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </a>
                <a href="#/coffee" class="storeItem col-xs-4">
                    <img src="images/store-item.jpg" alt="coffee beans">
                    <p>Name of this blend</p>
                    <span class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </a>
                <a href="#/coffee" class="storeItem col-xs-4">
                    <img src="images/store-item.jpg" alt="coffee beans">
                    <p>Name of this blend</p>
                    <span class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </a>
                <a href="#/coffee" class="storeItem col-xs-4">
                    <img src="images/store-item.jpg" alt="coffee beans">
                    <p>Name of this blend</p>
                    <span class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </a>
                <a href="#/coffee" class="storeItem col-xs-4">
                    <img src="images/store-item.jpg" alt="coffee beans">
                    <p>Name of this blend</p>
                    <span class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </a>
                <a href="#/coffee" class="storeItem col-xs-4">
                    <img src="images/store-item.jpg" alt="coffee beans">
                    <p>Name of this blend</p>
                    <span class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </a>
                <a href="#/coffee" class="storeItem col-xs-4">
                    <img src="images/store-item.jpg" alt="coffee beans">
                    <p>Name of this blend</p>
                    <span class="stars">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </span>
                </a>
            </div>
        </div>
    </div>